* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.contanier {
    width: 100%;
    height: 100vh;
    background-color: #faf8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contanier::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: #ff9dcf;
}

.contanier .hero {
    position: relative;
    z-index: 10;
    height: 85vh;
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 3px solid #ff9dcf;
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
    padding: 0 40px 0 80px;
}

.hero nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
}

.hero nav .logo {
    color: #922392;
    font-size: 45px;
    font-weight: bold;
}

.nav-links button {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #242424;
    text-transform: capitalize;
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 20px;
}

.nav-links button:hover {
    transition: 0.5s ease-in-out;
    background-color: #ff9dcf;
    color: #801f82;
}

.hero .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

.hero .content .div-text {
    width: 40%;
}

.hero .content .div-text h1 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #fff;
}

.hero .content .div-text h4 {
    color: #801f82;
    font-size: 24px;
    margin-bottom: 10px;
}

.hero .content .div-text p {
    color: #4f4f4f;
    margin-bottom: 50px;
    font-size: 18px;
}

.hero .content .div-text .btn {
    padding: 15px 20px;
    background-color: #801f82;
    border: 2px solid #801f82;
    color: #f4ecec;
    border-radius: 5px;
    font-weight: bold;
}

.hero .content .div-text .btn:hover {
    color: #f4f0f4;
    transition: 0.3s;
    background-color: transparent;
}

.soc-link {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.soc-link a i {
    font-size: 25px;
    cursor: pointer;
    color: #801f82;
    margin-bottom: 20px;
    transition: 0.4s;
    transform: scale(1);
    border-radius: 50%;
    box-shadow: 0 0 10px #f779ba88;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.soc-link a i:hover {
    color: #f43698;
    transform: scale(1.1);
    box-shadow: 0 0 15px #f65aab;
}

.hero .content .div-img {
    width: 40%;
}

.hero .content .div-img img {
    width: 100%;
}

.hero .logo,
.hero .content .div-text h1,
.hero .content .div-text h4,
.hero .content .div-text .btn {
    position: relative;
    top: 50px;
    animation: slide-top .5s linear forwards;
    opacity: 0;
}

.hero .logo {
    animation-delay: 0.2s;
}

.hero .content .div-text h1 {
    animation-delay: 0.5s;
}

.hero .content .div-text h4 {
    animation-delay: 0.9s;
}

.hero .content .div-text .btn {
    animation-delay: 1.8s;
}

@keyframes slide-top {
    0% {
        top: 50px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

.hero .content .div-text p {
    position: relative;
    left: 100px;
    animation: slide-right .5s linear forwards;
    animation-delay: 1.3s;
    opacity: 0;
}

@keyframes slide-right {
    0% {
        left: 100px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

.hero .content .div-img img {
    opacity: 0;
    transform: scale(0.8);
    animation: fade-img .5s linear forwards;
    animation-delay: 2.1s;
}

@keyframes fade-img {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media only screen and (max-width: 800px) {
    .contanier {
        flex-direction: column;
    }

    .contanier .hero {
        width: 90%;
        padding: 40px;
    }

    .hero nav {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .nav-links button {
        margin: 10px 0;
    }

    .hero .content {
        flex-direction: column;
        padding: 0;
    }

    .hero .content .div-text,
    .hero .content .div-img {
        width: 100%;
        text-align: center;
    }

    .soc-link {
        position: static;
        margin-top: 20px;
        flex-direction: row;
        justify-content: center;
    }

    .soc-link a i {
        margin-right: 20px;
    }
}

strong {
    color: #000;
}

.portfolio-image {
    transition: transform 0.3s ease-in-out;
}

.portfolio-image:hover {
    transform: scale(1.1);
}
